.title{
  display: flex;
  justify-content: space-between;
}

.greeting {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 100px;
  color: black;
}

.profile-icon {
  font-size: 24px;
  margin-left: 100px;
  color: black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-image {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose-file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choose-file-button:hover {
  background-color: #333;
}

.input-container {
  width: 100%;
  margin-bottom: 20px;
}

.input-container ion-item {
  --padding-top: 4px;
  --padding-bottom: 4px;
}

.input-container ion-input {
  font-size: 14px;
}


.save-button {
  width: 100%;
  margin-bottom: 20px;
}

.profile-details {
  width: 100%;
  text-align: center;
}

.profile-details h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-details p {
  font-size: 14px;
  margin-bottom: 6px;
}
.gender-container {
  display: flex;
  align-items: center;
}

.gender-label {
  margin-right: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}
