<ion-header>
  <ion-toolbar>
    <ion-title>Join Foodie Find Today</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <ion-img class="logo-image" src="\assets\Images\13.png" alt="Logo"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox>Terms And Condition Apply</ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="login()">Login</ion-button>
</ion-content>
