.title{
    display: flex;
    justify-content: space-between;
  }
  
  .greeting {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 100px;
    color: black;
  }
  
  .profile-icon {
    font-size: 24px;
    margin-left: 100px;
    color: black;
  }

  .ion-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  
  .ion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  
  .ion-item {
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .ion-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
  
  .ion-label {
    margin: 0;
    padding: 0;
  }
  
  .h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    color: #333333;
  }
  
  .p {
    font-size: 14px;
    margin-bottom: 0;
    color: #333333;
  }
  
  .ion-icon {
    color: red;
    cursor: pointer;
    font-size: 20px;
  }
  
  .past-orders {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .order-item {
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .item-count {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  